<div class="jumbotron center">
	<h1>Our Products</h1>
		<h2>Men</h2>
			<p>
				<!--<a class="text-muted""btn" href="shirt_path" role="button">Shirts</a>-->
				<%= link_to "Shirts", shirts_path %>
				|
				<!--<a class="text-muted""btn" href="#" role="button">Button-Ups</a>-->
				<%= link_to "Button-Ups", buttonups_path %>
				|
				<!--<a class="text-muted""btn" href="#" role="button">Shorts</a>-->
				<%= link_to "Shorts", shorts_path %>
				|
				<!--<a class="text-muted""btn" href="#" role="button">Pants</a>-->
				<%= link_to "Pants", pants_path %>
				|
				<!--<a class="text-muted""btn" href="#" role="button">Suits</a>-->
				<%= link_to "Suits", suits_path %>
			<p/>
		<h2>Women</h2> 
			<p> 
				<!--<a class="text-muted""btn" href="#" role="button">Dresses</a>--> 
				<%= link_to "Dresses", dresses_path %>
				|
				<!--<a class="text-muted""btn" href="#" role="button">Pants</a>-->
				<%= link_to "Pants", womenpants_path %>
				|
				<!--<a class="text-muted""btn" href="#" role="button">Shirts</a>-->
				<%= link_to "Shirts", womenshirts_path %>
			<p/>
		<h2>Accesories</h2>
			<p> 
				<!--<a class="text-muted""btn" href="#" role="button">Wallets</a>--> 
				<%= link_to "Wallets", wallets_path %>
				|
				<!--<a class="text-muted""btn" href="#" role="button">Watches</a>-->
				<%= link_to "Watches", watches_path %>
				|
				<!--<a class="text-muted""btn" href="#" role="button">Jewelry</a>-->
				<%= link_to "Jewelry", jewelry_path %>
				|
				<!--<a class="text-muted""btn" href="#" role="button">Purses</a>-->
				<%= link_to "Purses", purses_path %>
			<p/>
		<h2>Shoes</h2>
		<h2>Other</h2> 
</div>